{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "emotion",
  ]
}

/* 
* @babel/env: automatically determines the Babel plugins you need based on your supported environments.
* @babel/react: converts JSX syntax and strips out type annotations.
* @babel/plugin-proposal-object-rest-spread: transforms rest properties for object destructuring assignment and spread properties for object literals.
* @babel/plugin-syntax-dynamic-import: load import dynamically
* @babel/plugin-proposal-class-properties: allow arrow functions as class properties
*/