body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Khula', sans-serif !important;
  color: #000
}

.Select-menu-outter {
  z-index: 999;
}

.np-spinner-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(24, 23, 23, 0.5);
}