@import url('./iphone.css');
@import url('./android.css');

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Khula', sans-serif !important;
  color: #000
}

.Select-menu-outter {
  z-index: 999;
}

.spinner-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background:#000;
  opacity: .5;
}

/* ----------- iPad Pro 12.9" & larger ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) {
    .spinner {
      position: relative;
      left: 46%;
      top: 25%;
    }
}


